@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

:root {
  --font-in-text: "Noto Sans Sinhala", sans-serif;
  --font-draw21: "Aoboshi One", serif;
  --font-draw0: "Shadows Into Light", cursive;
  --font-draw3: "Satisfy", cursive;
  --font-draw2: "Grandiflora One", cursive;
}
.container {
  width: 100%;
  height: 110vh;
  position: relative;
  overflow: hidden;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zooms 20s infinite ease-in-out;
}
@keyframes zooms {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.container .text {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 50%;
  left: 20%;
  animation: zooms-text 20s infinite ease-in-out;
}
.container .text h1 {
  text-align: center;
  color: #502b21;
  font-size: 4em;
  line-height: 1.1em;
  letter-spacing: 1px;
  font-family: var(--font-in-text);
}
.container .text h3 {
  text-align: center;
  font-family: var(--font-in-text);
}
@keyframes zooms-text {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.25);
  }
}
.section {
  width: 100%;
  position: relative;
}
.section .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 50px 50px;
  background: #a26943;
  cursor: pointer;
}
.section .content .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section .content .left h1 {
  padding: 50px;
  font-size: 50px;
  text-align: left;
  font-family: var(--font-in-text);
  color: #eac388;
}
.section .content .left p {
  padding: 50px;
  text-align: left;
  font-size: 20px;
  font-family: var(--font-in-text);
  color: #fff;
  font-weight: 500;
}
.section .content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .content .right .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section .content .right .row .col {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
}
.section .content .right .row .col i {
  font-size: 25px;
  border-radius: 60px;
  padding: 10px;
  border: 3px solid #f7a145;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.section .content .right .row .col i:hover {
  background: #f7a145;
  color: #222;
}
.section .content .right .row .col div span {
  padding: 10px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  font-family: var(--font-draw2);
}
.section .content .right .row .col div {
  padding: 10px;
}
.section .content .right .row .col h1 {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-align: left;
  font-weight: 100;
  transition: all 0.5s ease-in-out;
  font-family: var(--font-in-text);
}

.section .content .right .row .col h1:hover {
  color: #502b21;
}

.section .secBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 400px 100px 200px;
  background: #f6f1e8;
  cursor: pointer;
}
.section .secBox .name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .secBox .name h1 {
  font-size: 2.8rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2em;
  color: #a2473e;
  padding: 0px 40px 0px 80px;
}
.section .secBox .name sup {
  float: left;
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.25px;
  color: #a2473e;
}
.section .secBox button {
  padding: 20px 60px 20px 60px;
  letter-spacing: 2px;
  border-radius: 60px;
  border: none;
  background: #a2473e;
  color: #fff;
  font-size: 16px;
  animation: 2s ease-in-out;
  cursor: pointer;
  font-family: var(--font-in-text);
  font-weight: 600;
}
.section .secBox button:hover {
  background: #f7a145;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 992px) and (min-width: 769px),
  (max-width: 576px) {
  .section .content {
    flex-direction: column;
  }
  .section .content .left {
    width: 99%;
  }
  .section .content .right {
    width: 99%;
  }
  .section .secBox {
    padding: 50px;
    flex-direction: column;
  }
  .section .secBox button {
    margin: 20px;
  }
  .container .text h1 {
    text-align: left;
  }
  .container .text {
    top: 16%;
  }
  .container .text h3 {
    text-align: left;
  }
  .section .content .left h1 {
    padding: 50px 25px 25px 25px;
  }
  .section .content .left p {
    padding: 50px 25px 25px 25px;
  }
  .container .text h1 {
    font-size: 3em;
  }
}
