@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --gradient-color: linear-gradient(90deg, #0bd290, #14ff9d);
  --black-color: #0d0e12;
  --reflection-color: rgba(246, 245, 238, 0.3);
  --body-color: #fffdf5;
  --normal-font-size: 1rem;
  --font-in-text: "Noto Sans Sinhala", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/************ Navbar Css ************/
nav {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background: transparent;
  background-color: rgba(80, 43, 33, 0.8);
}
nav.scrolled {
  position: fixed;
  padding: 18px 0;
  background-color: #502b21;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}
nav .nav-container .nav-top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav .nav-container .nav-top-bar a.navbar-brand {
  width: 110px;
  text-decoration: none;
}
nav .nav-container .nav-top-bar a.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .nav-container .nav-top-bar .navbar-toggler {
  display: none;
  background: none;
  border: none;
}
nav .nav-container .nav-top-bar .navbar-toggler i {
  color: #fff;
  font-size: 22px;
}
nav .nav-container .navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
  flex-basis: 150%;
  flex-grow: 1;
  align-items: center;
}
nav .nav-container .navbar-collapse .navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
nav .nav-container .navbar-collapse .navbar-nav a.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.75;
  font-family: var(--font-in-text);
  text-decoration: none;
}

nav .nav-container .navbar-collapse .navbar-nav a.navbar-link:hover,
nav .nav-container .navbar-collapse .navbar-nav a.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
span.navbar-text.box {
  margin: 12px;
}
span.navbar-text.box select {
  background-color: #a26943;
  color: white;
  padding: 12px;
  width: 110px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
span.navbar-text.box select option {
  padding: 30px;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
  font-family: var(--font-in-text);
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text a.active button {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
.navbar-text a.active button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav .navbar-toggler:active,
nav .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav .navbar-toggler-icon:after,
nav .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav .navbar-toggler-icon:after {
  top: 8px;
}
nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

@media (max-width: 768px) and (min-width: 577px),
  (max-width: 1600px) and (min-width: 769px),
  (max-width: 576px) {
  nav .nav-container .navbar-collapse {
    display: none;
  }

  nav .nav-container .nav-top-bar .navbar-toggler {
    display: block;
  }
  nav .nav-container {
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
  }
  nav .nav-container .navbar-collapse .navbar-nav.collosed-down {
    flex-direction: column;
  }
  nav .nav-container .navbar-collapse.collosed-down {
    display: flex;
    flex-direction: column;
  }
  nav .nav-container {
    align-items: flex-start;
  }
  nav .nav-container .navbar-collapse .navbar-nav a.navbar-link {
    padding: 2px 25px;
  }
}
