@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"),
    url("../assets/fonts/FuturaCyrillicLight.woff") format("woff");
}

.s-container {
  width: 100%;
  align-items: center;
  height: 700px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
}
.s-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section .s-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.section .s-text h1 {
  text-align: center;
  color: #222;
  font-size: 4em;
  line-height: 1.6em;
  letter-spacing: 4px;
  font-family: Righteous, sans-serif;
}
.section .category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 150px 50px 150px;
}
.section .category .cat-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section .category .cat-left h1 {
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  text-transform: none;
  line-height: 1.3em;
  font-family: var(--font-in-text);
}
.section .category .cat-left p {
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  color: #000;
  text-align: justify;
  font-family: var(--font-in-text);
}
.section .category .cat-left p b {
  font-family: var(--font-in-text);
}
.section .category .cat-right {
  margin: 20px;
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.section .category .cat-right.nd {
  width: 600px;
}
.section .category .cat-right.nd img {
  border-radius: 12px;
}
.section .category .cat-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section .container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 150px 50px 150px;
}
.section .container-card .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.section .container-card .row h1 {
  font-size: 42px;
  text-align: center;
}
.section .container-card .row .col-lg-1 {
  width: 100%;
  margin: 50px;
}
.section .container-card .row .col-lg-1 h2 {
  font-size: 45px;
  font-weight: 600;

  font-family: var(--font-in-text);
}
.section .container-card .row .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 50px;
}
.section .container-card .row .col-lg-2 .product-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 35%;
  position: relative;
  transition: all 0.5s ease-out;
}
.section .container-card .row .col-lg-2 .product-thumb .product-img {
  width: 450px;
  height: 450px;
  position: relative;
}
.section .container-card .row .col-lg-2 .product-thumb .product-img img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.section .container-card .row .col-lg-2 .product-thumb .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
.section .container-card .row .col-lg-2 .product-thumb .product-top {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 20px;
}
.section
  .container-card
  .row
  .col-lg-2
  .product-thumb
  .product-top
  .product-alert {
  background: var(--white-color);
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  font-size: var(--custom-link-font-size);
  font-weight: 400;
  padding: 3px 10px;
  font-family: var(--font-in-text);
}
.section .container-card .row .col-lg-2 .product-thumb .product-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
.section .container-card .row .col-lg-2 .product-thumb .product-info .align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.section .container-card .row .col-lg-2 .product-thumb .product-info .align h5 {
  font-size: 24px;
  font-weight: 800;
  padding: 10px 0px 10px 0px;
  font-family: var(--font-in-text);
  letter-spacing: 1.5px;
}
.section .container-card .row .col-lg-2 .product-thumb .product-info .align p {
  font-size: 14px;
  color: #6c757d;
  font-family: var(--font-in-text);
  letter-spacing: 1.5px;
  text-align: justify;
  margin-right: 16px;
}
.section
  .container-card
  .row
  .col-lg-2
  .product-thumb
  .product-info
  .product-price {
  color: #6c757d;
}
@media (max-width: 768px) and (min-width: 577px),
  (max-width: 1600px) and (min-width: 769px),
  (max-width: 576px) {
  .section .container-card {
    padding: 8px;
  }
  .section .category .cat-left {
    margin: 20px;
    width: 100%;
  }
  .section .category {
    flex-direction: column;
  }
  .section .category.design {
    flex-direction: column-reverse;
  }
  .section .container-card .row .col-lg-2 {
    flex-direction: column;
    margin: 0px;
  }
  .section .container-card .row .col-lg-2 .product-thumb {
    width: 100%;
  }

  .section .content .right .row {
    flex-direction: column;
  }
  .section .content .right .row .col {
    width: 100%;
  }
  .section .secBox .name {
    flex-direction: column;
  }
  .s-container .s-text {
    top: 18%;
  }
  .section .category {
    padding: 30px;
  }
  .section .sec-banner {
    display: none;
  }
  .section .category .cat-right {
    width: 100%;
  }
  .section .category .cat-right.nd {
    width: 100%;
  }
  .section .category .cat-right.design img {
    border-radius: 12px;
  }
  .section .category .cat-right.design {
    border: 2px solid #222;
    border-radius: 12px;
  }
  .section .container-card .row .col-lg-2 .product-thumb .product-img {
    width: 99%;
  }
  .section .s-text {
    width: 98%;
    padding: 20px;
  }
  .section .s-text h1 {
    font-size: 3em;
    letter-spacing: 0px;
  }
}
